<form action="">
    <h3>Publish your travel with the others!</h3>
    <table>
        <tr>
            <td><label for="title">Title: </label></td>
            <td><input size="100px" type="title"></td>
        </tr>
        <tr>
            <td><label for="place">Place: </label></td>
            <td><input size="100px" type="place"></td>
        </tr>
        <tr>
            <td><label for="note">Note: </label></td>
            <td><textarea name="" id="" cols="93" rows="5"></textarea></td>
        </tr>
        <tr>
            <td></td>
            <td><button type="submit">Publish</button></td>
        </tr>
    </table>
   
</form>